<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="mainLayout">
<body>
<div th:fragment="main-body">
  <div id="preloading">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>

  <div id="VueApp">
    <a-layout id="components-layout">
      <a-layout>
        <a-layout-sider :trigger="null" collapsible v-model="collapsed">
          <!--<div class="logo"></div>-->
          <a-menu theme="dark" mode="inline" :default-selected-keys="defaultSelectedKeys"
                  :default-open-keys="defaultOpenKeys">
            <a-sub-menu :key="list.key" v-for="list in menuList">
              <span slot="title">
                <a-icon :type="list.icon"></a-icon>
                <a v-if="list.path" :href="list.path">{{list.name}}</a>
                <span v-else>{{list.name}}</span>
              </span>
              <a-menu-item v-if="list.children && list.children.length > 0" :key="item.key"
                           v-for="item in list.children"><a :href="item.path">{{item.name}}</a></a-menu-item>
            </a-sub-menu>
          </a-menu>
        </a-layout-sider>

        <a-layout>
          <a-layout-header style="background: #fff; padding: 0">
            <a-icon class="trigger" :type="collapsed ? 'menu-unfold' : 'menu-fold'"
                    @click="collapsed = !collapsed"></a-icon>

            <div style="float: right">
              <a-avatar shape="square" size="large" :src="img_src" icon="user"></a-avatar>
              <a-button type="danger" @click="logout" icon="logout">{{usr_name}}</a-button>
            </div>


          </a-layout-header>

          <a-breadcrumb style="margin: 16px 0; padding-left: 24px;">
            <a-breadcrumb-item>首页</a-breadcrumb-item>
            <a-breadcrumb-item>列表页</a-breadcrumb-item>
            <a-breadcrumb-item>器材管理</a-breadcrumb-item>
          </a-breadcrumb>

          <a-layout-content :style="{ background: '#fff', padding: '24px', margin: 0, minHeight: '500px' }">
            <a-layout>

              <a-layout-sider width="210" style="background: #fff">

                <div class="tree-operator" style="margin-bottom: 15px">
                  <a-button type="primary" size="small" icon="plus" @click="addGroup()">添加</a-button>
                  <a-button size="small" icon="edit" @click="editGroup()">编辑</a-button>
                  <a-button type="danger" size="small" icon="minus-circle" @click="deleteGroup()">删除</a-button>
                </div>
                <a-tree @select="onSelect" :tree-data="treeData"></a-tree>
              </a-layout-sider>

              <a-layout-content :style="{ background: '#fff', padding: '0 0 0 24px' }">
                <div class="table-page-search-wrapper">
                  <a-form layout="inline">
                    <a-row :gutter="48">
                      <a-col :md="8" :sm="24">
                        <a-form-item label="器材类型">
                          <a-input v-model="queryParam.type" placeholder=""></a-input>
                        </a-form-item>
                      </a-col>
                      <a-col :md="8" :sm="24">
                        <a-form-item label="器材数量">
                          <a-input-number :min="0" style="width: 100%" v-model="queryParam.num" placeholder=""></a-input-number>
                        </a-form-item>
                      </a-col>


                      <template v-if="advanced">

                        <a-col :md="8" :sm="24">

                        </a-col>

                      </template>


                      <a-col :md="!advanced && 8 || 24" :sm="24">
                    <span class="table-page-search-submitButtons"
                          :style="advanced && { float: 'right', overflow: 'hidden' } || {} ">
                        <a-button type="primary" icon="search" @click="queryList">查询</a-button>
                        <a-button style="margin-left: 8px" icon="reload" @click="resetSearchForm">重置</a-button>
                         <a-button style="margin-left: 8px" type="primary" @click="handleEdit">新增器材</a-button>
                        <a @click="toggleAdvanced" style="margin-left: 8px">
                            {{ advanced ? '收起' : '展开' }}
                            <a-icon :type="advanced ? 'up' : 'down'"></a-icon>
                        </a>
                    </span>
                      </a-col>
                    </a-row>
                  </a-form>
                </div>

                <a-table :columns="columns" :data-source="data" :scroll="{y:542}" @change="onChange"
                         :loading="listLoading" :pagination="pagination" :row-key="'id'">
              <span slot="action" slot-scope="text, record">
                  <a @click="handleEdit(record)">编辑</a>
                      <a-divider type="vertical"></a-divider>
                      <a @click="handleDelete(record)">删除</a>
              </span>
                </a-table>
              </a-layout-content>
            </a-layout>


            <a-modal title="新增/编辑" :visible="visible" :mask-closable="false"
                     :confirm-loading="confirmLoading" :width="500" @ok="handleOk" @cancel="cancelHandel">
              <a-form :form="form" ref="modalForm">
                <a-form-item :label-col="labelCol" :wrapper-col="wrapperCol" label="器材类型">
                  <a-input placeholder="器材类型"
                           style="width: 100%"
                           v-decorator="['type',{rules: [{ required: true, message: '请输入器材类型' }]}]"></a-input>
                </a-form-item>

                <a-form-item :label-col="labelCol" :wrapper-col="wrapperCol" label="器材数量">
                  <a-input-number placeholder="器材数量"
                                  style="width: 100%"
                                  :min="0"  v-decorator="['num',{rules: [{ required: true, message: '请输入器材数量' }]}]"></a-input-number>
                </a-form-item>

                <a-form-item :label-col="labelCol" :wrapper-col="wrapperCol" label="所属房间">
                  <a-select @change="handleProvinceChange">
                    <a-select-option v-for="province in provinceData" :key="province">{{province}}</a-select-option>
                  </a-select>
                </a-form-item>


              </a-form>
            </a-modal>


          </a-layout-content>
        </a-layout>
      </a-layout>
    </a-layout>
  </div>

  <script>
    var myApp = new Vue({
      el: '#VueApp',
      data: {
        //左侧菜单列表
        menuList: menuList,
        //默认展开菜单
        defaultOpenKeys: ['sub3'],
        //默认选中菜单
        defaultSelectedKeys: ['sub3-2'],
        //页面接口信息
        api: {
          //设备
          list: {
            url: '/sports/device',
            listType: GLOBAL_CONSTANTS.METHOD.GET,
            addType: GLOBAL_CONSTANTS.METHOD.POST,
            editType: GLOBAL_CONSTANTS.METHOD.PUT,
            deleteType: GLOBAL_CONSTANTS.METHOD.DELETE
          },
          //分组
          tree: {
            url: '/sports/room',
            listType: GLOBAL_CONSTANTS.METHOD.GET,
            addType: GLOBAL_CONSTANTS.METHOD.POST,
            editType: GLOBAL_CONSTANTS.METHOD.PUT,
            deleteType: GLOBAL_CONSTANTS.METHOD.DELETE
          },
          //设备分组关系
          relation: {
            url: '/sports/course_group',
            listType: GLOBAL_CONSTANTS.METHOD.GET,
            addType: GLOBAL_CONSTANTS.METHOD.POST,
            editType: GLOBAL_CONSTANTS.METHOD.PUT,
            deleteType: GLOBAL_CONSTANTS.METHOD.DELETE
          }
        },
        //分页数据
        page: {
          page: GLOBAL_CONSTANTS.ONE,
          size: GLOBAL_CONSTANTS.DEFAULT_PAGE_SZIE,
          totalPages: GLOBAL_CONSTANTS.ZERO
        },
        //查询参数
        queryParam: {},
        //排序信息
        sortInfo: [],
        //页面选中的TreeNode
        selectTreeNode: '',
        defaultValue: '',
        labelCol: {
          xs: {span: 24},
          sm: {span: 5}
        },
        wrapperCol: {
          xs: {span: 24},
          sm: {span: 12}
        },
        buttonCol: {
          wrapperCol: {
            xs: {span: 24},
            sm: {span: 12, offset: 5}
          }
        },
        //展开、收起控制
        advanced: false,
        collapsed: false,
        visible: false,
        importTip: false,
        addGroupTip: false,
        editGroupTip: false,
        addDeviceTip: false,
        confirmLoading: false,
        listLoading: false,
        pagination: {
          showSizeChanger: true,
          pageSizeOptions: ['10', '20', '50', '100']
        },
        columns: [{
          title: '器材类型',
          dataIndex: 'type',
          width: '250px'
        }, {
          title: '器材数量',
          dataIndex: 'num',
          width: '250px'
        }, {
          title: '房间Id',
          dataIndex: 'roomName',
          width: '250px'
        }, {
          title: '操作',
          dataIndex: 'action',
          width: '160px',
          scopedSlots: {customRender: 'action'}
        }],
        deviceColumns: [],
        data: [],
        devicesData: [],
        selected: null,
        fileList: [],
        treeData: [{
          title: '巡检分组',
          key: '0-0',
          children: [{
            title: '第一分组',
            key: '0-0-0',
            children: [
              {key: '0-0-0-0', title: '巡检1', isLeaf: true}
            ]
          }, {
            title: '第二分组',
            key: '0-0-1',
            children: [
              {key: '0-0-1-0', title: '巡检2', isLeaf: true},
              {key: '0-0-1-1', title: '巡检3', isLeaf: true}
            ]
          }, {
            title: '第三分组',
            key: '0-0-2',
            children: [
              {key: '0-0-2-0', title: '巡检4', isLeaf: true}
            ]
          }]
        }],
        selectedRowKeys: [],
        openDateStr: '',
        provinceData: ['办公室', '机房'],
        province: '',
        selectedRoomName: '',
        usr_name: '',
        img_src:''
      },
      computed: {
        form: function () {
          return this.$form.createForm(this)
        },
        formGroup: function () {
          return this.$form.createForm(this)
        },
        editForm: function () {
          return this.$form.createForm(this)
        },
        hasSelected: function () {
          return this.selectedRowKeys.length > 0;
        }
      },
      methods: {
        _renderList: function () {
          var pageParam = {
            page: this.page.page,
            size: this.page.size
          };
          var ajaxOpt = {
            url: this.api.list.url + '/page',
            type: this.api.list.listType,
            param: {
              page: JSON.stringify(pageParam),
              sort: JSON.stringify(this.sortInfo),
              params: JSON.stringify(this.queryParam)
            }
          };
          var self = this;
          this.listLoading = true;
          jsonAjax(ajaxOpt, function (data) {
            var page = BRS.clone(self.pagination);
            // pageDto.total = data.totalSize;
            self.data = data;
            self.listLoading = false;
            self.pagination = page
          });
          this.getTreeData();
          this.getRoomData();
          this.getUserSession();
        },

//获取Session
        getUserSession: function () {
          var ajaxObj = {
            url: session_user.url,
            type: session_user.method.login
          };
          var self = this;
          jsonAjax(ajaxObj, function (data) {
            if (null == data) {
              location.href = session.logon;
              return;
            }
            self.usr_name = data.username;
            self.img_src = img_src + data.userUrl;
          });
        },
        //注销登录--销毁Session
        logout: function () {
          var ajaxObj = {
            url: session_user.url,
            type: session_user.method.logout
          };
          var self = this;
          jsonAjax(ajaxObj, function (data) {
            if (null != data) {
              location.href = session.logout;
              return;
            }
            self.$notification['error']({
              message: "抱歉",
              description: "注销失败"
            });
          });

        },

        //添加分组
        addGroup: function () {
          this.$notification['error']({
            message: '抱歉',
            description: '由于开发时限原因,重复功能暂不实现!'
          });
          location.href = "/room";
          return;

          if ('' === this.selectTreeNode) {
            this.$message.warn('增加根节点!');
            this.defaultValue = '根节点';
            this.addGroupTip = true;
          } else {
            var key = this.selectTreeNode.key;
            var leaf = this.selectTreeNode.data.props.isLeaf;
            var parentName = this.selectTreeNode.data.props.title;
            if (key === "" || leaf) {
              this.$message.warn('请选择分组节点!');
            } else {
              this.defaultValue = parentName;
              this.addGroupTip = true;
            }
          }
        },
        //关闭添加分组模态框
        addGroupCancel: function () {
          this.addGroupTip = false;
          this.$refs.groupName.stateValue = '';
          this.selectTreeNode = '';
        },
        //关闭编辑分组模态框
        editGroupCancel: function () {
          this.editGroupTip = false;
          this.$refs.groupName.stateValue = '';
          this.selectTreeNode = '';
        },
        validateGroup: function () {

        },
        //提交新增分组
        handleAddGroupOk: function () {
          this.formGroup.validateFields(function (err) {
            if (err) {
              this.$message.error('请选择分组节点!');
            }
          });
          var groupName = this.$refs.groupName.stateValue;
          var parentId = '' === this.selectTreeNode ? '' : this.selectTreeNode.key;
          var params = {parentId: parentId, groupName: groupName, isLeaf: true};
          var self = this;
          var ajaxOpt = {
            url: this.api.tree.url,
            type: this.api.tree.addType,
            param: {
              'params': JSON.stringify(params)
            },
            showSuccessMsg: true
          };
          jsonAjax(ajaxOpt, function () {
            self.addGroupCancel();
            self.getTreeData();
          });
        },
        //编辑分组
        editGroup: function () {
          this.$notification['error']({
            message: '抱歉',
            description: '由于开发时限原因,重复功能暂不实现!'
          });
          location.href = "/room";
          return;
          if (this.selectTreeNode === '') {
            this.$message.error("请先选择分组");
            return;
          }
          var id = this.selectTreeNode.data.props.id;
          var ajaxOpt = {
            url: this.api.tree.url + '/' + id,
            type: this.api.tree.listType
          };
          var self = this;
          jsonAjax(ajaxOpt, function (data) {
            self.$refs.groupName.stateValue = data.groupName;
          });
          this.editGroupTip = true;
        },
        //提交编辑分组的值
        handleEditGroupOk: function () {
          var id = this.selectTreeNode.data.props.id;
          var groupName = this.$refs.groupName.stateValue;
          var isLeaf = this.$refs.leafGroup.stateValue;
          var params = {id: id, groupName: groupName, isLeaf: isLeaf};
          var self = this;
          var ajaxOpt = {
            url: this.api.tree.url,
            type: this.api.tree.editType,
            param: {
              'params': JSON.stringify(params)
            },
            showSuccessMsg: true
          };
          jsonAjax(ajaxOpt, function () {
            self.editGroupCancel();
            self.getTreeData();
          });
        },
        //获取树的值
        getTreeData: function () {
          var ajaxOpt = {
            url: this.api.tree.url + "/tree",
            type: this.api.tree.listType
          };
          var self = this;
          jsonAjax(ajaxOpt, function (data) {
            self.treeData = data;
          });
        },
        getRoomData: function () {
          var ajaxOpt = {
            url: this.api.tree.url + "/page",
            type: this.api.tree.listType,
            param: {
              'params': '{}'
            }
          };
          var self = this;
          jsonAjax(ajaxOpt, function (data) {
            var array = [];
            for (var i = 0; i < data.length; i++) {
              var obj = data[i].name;
              array.push(obj);
              obj = '';
            }
            self.provinceData = array;
          });

        },
        //删除分组
        deleteGroup: function () {
          this.$notification['error']({
            message: '抱歉',
            description: '由于开发时限原因,重复功能暂不实现!'
          });
          location.href = "/room";
          return;

          if (this.selectTreeNode === '') {
            this.$message.error("请先选择分组");
            return;
          }
          var id = this.selectTreeNode.data.props.id;
          var groupName = this.selectTreeNode.data.props.title;
          var self = this;
          this.$confirm({
            title: '警告',
            content: '真的要删除分组[' + groupName + ']吗?',
            okText: '删除',
            okType: 'danger',
            cancelText: '取消',
            onOk: function () {
              var ajaxOpt = {
                url: self.api.tree.url + '/' + id,
                type: self.api.tree.deleteType,
                showSuccessMsg: true
              };
              jsonAjax(ajaxOpt, function (data) {
                //当前页数据删除后为空，返回上一页
                if (self.data.length === 1 && self.page.page > 1) {
                  self.page.page -= 1;
                }
                //删除分组后刷新树
                self.getTreeData();
              });
            },
            onCancel: function () {
            }
          })
        },
        //新增/编辑
        handleEdit: function (record) {
          this.visible = true;
          if (record) {
            this.selected = record.id;
            var value = {
              'type': record.type,
              'num': record.num
            };
            this.$nextTick(function () {
              this.form.setFieldsValue(value);
            })
          }
        },
        handleProvinceChange: function (value) {
          this.province = this.provinceData[value];
          this.selectedRoomName = value;
        },
        //添加设备--即创建设备关系
        addDevice: function () {
          this.$notification['error']({
            message: '抱歉',
            description: '由于开发时限原因,重复功能暂不实现!'
          });
          return;
          if (this.selectTreeNode === '') {
            this.$message.warn("请选择分组节点");
            return;
          }
          if (!this.selectTreeNode.data.props.isLeaf) {
            this.$message.warn("请选择叶子节点");
            return;
          }
          this.addDeviceTip = true;
          var ajaxOpt = {
            url: this.api.list.url + '/all',
            type: this.api.list.listType
          };
          var self = this;
          jsonAjax(ajaxOpt, function (data) {
            self.devicesData = data;
          });
        },
        addDeviceCancel: function () {
          this.addDeviceTip = false;
        },
        onSelectChange: function (selectedRowKeys) {
          this.selectedRowKeys = selectedRowKeys;
        },
        addDeviceOk: function () {
          if (this.selectTreeNode === '') {
            this.$message.warn("请选择分组节点");
            return;
          }
          if (!this.selectTreeNode.data.props.isLeaf) {
            this.$message.warn("请选择叶子节点");
            return;
          }
          //GroupId
          var groupId = this.selectTreeNode.data.props.id;
          //courseIds
          var courseIds = this.selectedRowKeys;
          if (courseIds.length < 1) {
            this.$message.warn("请选择设备");
            return;
          }
          var ajaxOpt = {
            url: this.api.relation.url + "/relations/" + groupId,
            type: this.api.relation.addType,
            param: {
              'courseIds': JSON.stringify(courseIds)
            }
          };
          var self = this;
          jsonAjax(ajaxOpt, function () {
            self.addDeviceCancel();
            self._renderList();
            self.selectedRowKeys = [];
          })
        },
        //删除
        handleDelete: function (record) {
          var self = this;
          if (self.selectTreeNode != '') {
            var groupName = this.selectTreeNode.data.props.title;
            this.$confirm({
              title: '警告',
              content: '真的要从分组:[' + groupName + ']中移除 <' + record.name + '> 吗?',
              okText: '删除',
              okType: 'danger',
              cancelText: '取消',
              onOk: function () {
                var ajaxOpt = {
                  url: self.api.relation.url + '/course_id/' + record.id,
                  type: self.api.relation.deleteType,
                  showSuccessMsg: true
                };
                jsonAjax(ajaxOpt, function (data) {
                  //当前页数据删除后为空，返回上一页
                  if (self.data.length == 1 && self.page.page > 1) {
                    self.page.page -= 1;
                  }
                  self._renderList()
                });
              },
              onCancel: function () {
              }
            })
          }
        },
        //展开，收起
        toggleAdvanced: function () {
          this.advanced = !this.advanced
        },
        //查询
        queryList: function () {
          for (var attr in this.queryParam) {
            if (BRS.isBlank(this.queryParam[attr])) {
              delete this.queryParam[attr]
            }
          }
          this._renderList();
        },
        //重置
        resetSearchForm: function () {
          this.queryParam = {
            date: moment(new Date())
          }
        },
        //取消关闭
        cancelHandel: function (e) {
          this.visible = false
        },
        //提交确定
        handleOk: function () {
          var self = this;
          // 触发表单验证
          this.form.validateFields(function (err, values) {
            // 验证表单没错误
            if (!err) {
              self.confirmLoading = true;
              var obj = {
                type: values.type,
                num: values.num,
                roomName: self.selectedRoomName
              };
              if (self.selected) {
                obj.id = self.selected
              }
              var ajaxOpt = {
                url: self.api.list.url,
                type: self.selected ? self.api.list.editType : self.api.list.addType,
                param: {
                  'params': JSON.stringify(obj)
                },
                showSuccessMsg: true
              };
              jsonAjax(ajaxOpt, function (data) {
                self.form.resetFields();
                self.selected = null;
                self.visible = false;
                self.confirmLoading = false;
                self._renderList()
              });
            }
          })
        },

        //分页，排序控制
        onChange: function (pagination, filters, sorter) {
          //设置当前分页
          this.page.page = pagination.current;
          this.page.size = pagination.pageSize;
          //设置排序
          var curOrder = null;
          if (sorter) {
            var direction = sorter.order == "ascend" ? '0' : '1';
            for (var i = 0; i < this.sortInfo.length; i++) {
              if (this.sortInfo[i].property == sorter.field) {
                //改变排序方向，从原来的列表中移除，重新加入排序第一顺位
                curOrder = this.sortInfo[i];
                curOrder.direction = direction;
                this.sortInfo.splice(i, 1);
                break;
              }
            }
            if (!curOrder) {
              curOrder = {"property": sorter.field, "direction": direction};
            }

            if ('{}' == JSON.stringify(sorter)) {
              //sorter为空对象，说明清除当前排序
              this.sortInfo.splice(0, 1);
            } else {
              // 加入排序
              this.sortInfo.splice(0, 0, curOrder);
            }

          }

          this._renderList();
        },
        //左侧树选中
        onSelect: function (selectedKeys, info) {
          for (var attr in this.queryParam) {
            if (BRS.isBlank(this.queryParam[attr])) {
              delete this.queryParam[attr]
            }
          }
          if (info.selectedNodes.length === 0) {
            this.$message.warn("请选择分组节点");
            return;
          }

          this.selectTreeNode = info.selectedNodes[0];
          var roomName = info.selectedNodes[0].key;
          var leaf = info.selectedNodes[0].data.props.isLeaf;
          var urlParam = "/room_id/";
          if (!leaf) {
            urlParam = "/type/";
          }
          var pageParam = {
            page: this.page.page,
            size: this.page.size
          };
          var self = this;
          var ajaxOpt = {
            url: self.api.list.url + urlParam + roomName,
            type: self.api.list.listType,
            param: {
              page: JSON.stringify(pageParam),
              sort: JSON.stringify(this.sortInfo),
              params: JSON.stringify(this.queryParam)
            }
          };
          self.listLoading = true;
          jsonAjax(ajaxOpt, function (data) {
            var page = BRS.clone(self.pagination);
            // pageDto.total = data.totalSize;
            self.data = data;
            self.listLoading = false;
            self.pagination = page
          });
          self.getTreeData();
        }
      },
      mounted: function () {
        this._renderList();
        BRS.preLoading('hide');
      }
    })
  </script>

  <style>
    #VueApp, #components-layout {
      height: 100%;
    }

    #components-layout .trigger {
      font-size: 18px;
      line-height: 64px;
      padding: 0 24px;
      cursor: pointer;
      transition: color .3s;
    }

    #components-layout .trigger:hover {
      color: #1890ff;
    }

    #components-layout .logo {
      height: 32px;
      background: rgba(255, 255, 255, .2);
      margin: 16px;
    }
  </style>
</div>
</body>
</html>